Options +FollowSymLinks
RewriteEngine On

# Redirect www to non-www
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ https://%1/$1 [L,R=301]

# Serve index.html for all requests except files or directories that exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]

# Exclude specific directories from the above rule if needed
RewriteCond %{REQUEST_URI} !^/(assets|images|css|js|fonts)/